.rate-thumbs-heart-btn-up {
     display: inline-block;
    background: url(heart-icon.png) no-repeat 0 0;
    width: 17px;
    height: 17px;
    text-indent: -9999px;
    top: 3px;
    position: relative;
    background-size: 100% auto;
    margin-right: 5px;
}

.rate-thumbs-heart-btn-up:hover{
	 background: url(heart-voted.png) no-repeat 0 0; 	
    width: 17px;
    background-size: 100% auto;
    height: 17px;	
}