@media screen and (min-width: 768px){
	.listen {
	    left: 60px;
	    bottom: 73px;
	    top:inherit;
	}
	.grid-title{
		    font: 18px HelveticaNeueMedium;
	}
	.expertise{
		position: inherit;
		bottom:0;
	}
	.video .col-md-10{
		margin:10px 40px;
		padding:0;
	}
	.bigvideo .col-md-8 img {
	    width: 100%;
	    height: 100%;
	}
	.intro{
		margin:80px 0 0 0;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	    margin-left: -57px;
	}
	.hero.with-video {
	  	height: 60vmin;
	}
	.bigvideo .container{
		padding:0;
	}
	.videoclips .col-lg-3 {
	    width: 48%;
	    margin-bottom: 20px;
	}
	.clips > .container > .col-md-3 > .col-md-9, .ceo > .col-md-8{
	height:auto!important;
	}
	.clips .container > .col-md-3{
		margin: 0 0 20px 0;
	}
	.blackbutton{
		position: 	relative;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.homepageintro .col-md-6,.container-right,.col-md-12,  .homepageintro .col-md-9 {
		width: 100%;
	}
	
	.ceo .col-md-4 {
		width: 32%;
	}
	.ceointerview div [id*="audio-playlist"] .video-js .vjs-control-bar {
	    bottom: -71px;
	    z-index: 2
	}

	/* ceo interview subpage*/
	
	.bigvideo .card-container .col-md-12 {
	     padding: 0;
	}
	.videoclips .whiteplayicon {
	    top: 70%;
	}
	.homepageintro .col-md-9{
		padding-right:0;
		padding-bottom: 20px;
	}
	/* ceo interview subpage*/
	/*podcast subpage*/
	.downloadicon {
	   /* padding: 20px 0;
	    display:inline-block;*/
	    display:initial;
	}
	/* podcast ends*/
	/* contact page*/
	.contact .col-md-8 {
	    padding-right: 0;
	}

	/* contact page ends*/
	.ccl .col-lg-1 {
	    width: 6%;
	}
	.header-description{
		border-left:0;
		float:none;
	}
	.ccl ul{
		clear: both;
	    list-style: none;
	    height: 300px;
	    padding: 0 2px;
	    white-space: nowrap;

	    margin-bottom: 10px;
	    width: 100%;
	    overflow: 	auto;
	}
	.ccl ul li {
	    vertical-align: top;
	    float:none;
	}
}

@media screen and (min-width: 1024px){
	.grid-title{
		    font: 20px HelveticaNeueMedium;
	}
	.listen {
	    left: 60px;
	    top: 26px;
	    bottom:inherit;
	}
	.expertise{
		position: absolute;
		bottom:15px;
	}
	.videoclips .col-lg-3 {
	    width: 31%;
	    margin-bottom: 20px;
	}
	.ceointerview div [id*="audio-playlist"] .video-js .vjs-control-bar{
	    bottom: -71px;
	}
	.header-description {
	    border-left: 1px solid #666666;
	    float: left;
	    font-size:15px;
	}
	
	.intro{
		margin:100px 0 0 0;
	}
	.bigvideo .container{
		padding:0 15px 0 0;
	}
	.clips .col-md-9 {
	    width: 75%;
	}
	.clips .container > .col-md-3{
		width:25%;
	}
	.blackbutton{
		position: 	absolute;
	}
	 .homepageintro .col-md-9{
	 	width: 95%;
	 	padding-right:25px;
	 }
	.homepageintro .col-md-6
	{
		width:50%;
	}
	.container-right {
	    width: 50%;
	}
	.video-js.vjs-16-9 {
	    height: 48vh;
	}
	/*.video-js.vjs-16-9 {
	    min-height: 494px;
	}*/

	.homepageintro .col-md-10 {
	    padding-left: 60px;
	}
	/* ceo interview subpage*/
	.videoclips  .col-md-3{
		width:23%;
		 margin-bottom:0;
	}
	.bigvideo .card-container .col-md-12 {
	     padding: 0 35px;
	}
	.videoclips .whiteplayicon{
		top:58%;
	}
	/* ceo interview subpage ends*/
	/* podcast subpage*/
	.downloadicon {
	    padding: 0px 15px 0 10px
	}

	/* podcast ends*/
	/* contact us page*/
	.contact .col-md-8 {
	    padding-right: 130px;
	}

	/* contact page ends*/
	.ccl ul{
	    overflow:hidden;
	}
}

@media screen and (min-width: 1250px){
	.videoclips .col-lg-3 {
	    width: 23%;
	}
	.ceointerview div [id*="audio-playlist"] .video-js .vjs-control-bar{
	    bottom: -71px;
	}
	.header-description{
		border-left: 1px solid #666666;
		float:left;
		font-size:16px;
	}
	.intro{
		margin:100px 0 0 0;
	}
	/* homepage */
	.container-right {
	    width: 50%;
	}
	.homepageintro .col-md-9 {
	    width: 75%;
	    padding-right: 70px;
	}
	.video-js.vjs-16-9 {
	    height: 55vh;
	}
	/* homepage ends*/
}
@media screen and (min-width: 1500px){
	/* homepage */
	.container-right {
	    width: 50%;
	}
	.video-js.vjs-16-9 {
	    height: 49vh;
	}
	/*.video-js.vjs-16-9 {
	    min-height: 494px;
	}*/
	
	/* homepage ends*/
}

@media screen and (max-width: 767px){
	.grid-title{
		    font: 18px HelveticaNeueMedium;
		    overflow:auto;
		    -webkit-overflow-scrolling: touch;
	}
	.header-description{
		padding-left: 0
	}
	.pad60{
		padding:0 15px 15px 15px;
	}
	.clips .container > .col-md-3{
		margin: 0 0 20px 0;
	}
	.videoclips .col-lg-3 {
	    width: 48%;
	    margin-bottom: 20px;
	}
	.videoclips .row{
		margin:0;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.homepageintro .col-md-9,.homepageintro .col-md-6,.container-right,.contact .col-md-4, .contact .col-md-8, .col-md-12,.clips .container > .col-md-3, .clips .col-md-9,.container-right, .clips .col-md-10,  .ceo > .col-md-8, .bigvideo .col-md-12 .col-md-4, .bigvideo .col-md-12 .col-md-8 {
		width: 100%;
	}
	/*.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 100%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4  {
		width: 33.33333333%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}
	
	
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}*/
	/* homepage*/
	.homepageintro .col-md-9{
		padding-right:0;
	}
	.container-right, .container-right .pull-right{
		float:left!important;
	}
	.container-right{
		padding-bottom: 20px
	}
	.intro {
	    margin-top:60px;
	}
	.ceo .col-md-10,.clips .col-md-3 .col-md-9{
		width: 79%;
	}
	.ceo .col-md-8,.ceo .col-md-10,.clips .col-md-9{
		height: auto!important
	}
	.blackbutton{
		position: relative;	
		margin: 0 0 20px 0;
	}
	.clips .whitebackground .col-md-9{
		width:70%;
	}
	.clips .col-md-9 .col-md-4, .clips .col-md-12 .col-md-4{
		width:50%;
	}
	.clips .col-xs-6{
		padding-left:0;
	}
	
	.ceo .col-md-12 .col-md-3{
		width: 40%;
		min-width: 	180px;
    	margin-right: 0;
    	padding:0;
	}
	.ceo .col-md-12 .col-md-8 {
	    width:52%;
	}
	.ceo .col-md-2,  .clips .container > .col-md-3 > .col-md-3{
		width:initial;
	}
	.ceo .user-image{
		width:95%;
		height:auto;
	}
	.quicklinks{
		padding-top:40px; 	
	}
	.homepageintro .col-md-10 {
	    padding-left: 60px;
	}
	/* homepage ends*/
	/* ceo subpage*/
	.bigvideo .whiteplayicon {
	    background-size: 55px;
	}
	.bigvideo .card-container .col-md-12 {
	    bottom: 3px;
	    padding:0;
	}

	.videoclips .whiteplayicon {
	    top: 57%;
	}

	

	/* ceo subpage*/
	/* contact page*/
	.contact .col-md-8 {
	    padding-right: 0;
	}

	/* contact page ends*/
	/* ccl page */	
	.ccl .col-md-2{
		width:60px;
	}
	/*.ccl-programs .col-md-1 {
	        width: 8.33333333%;
	}*/
	.ccl .col-md-10 {
	    width: 80.333333%;
	}


	/* ccl page ends*/
	.header-description{
		border-left:0;
		line-height: initial;
	}
	.ceointerview div [id*="audio-playlist"] .video-js .vjs-control-bar {
	    bottom: -71px;
	    z-index:2;
	}
	.listen {
	    left: 60px;
	    bottom: 56px;
	    top:inherit;
	}
	
	.expertise{
		position: inherit;
		bottom:0;
	}
	.ccl ul{
		clear: both;
	    list-style: none;
	    height: 300px;
	    padding: 0 2px;
	    white-space: nowrap;

	    margin-bottom: 10px;
	    width: 100%;
	    overflow: 	auto;
	}
	.ccl ul li {
	    vertical-align: top;
	    float:none;
	}
	#framework-home{
		min-width: inherit;
		max-width: 100%;
		 background: url(../images/bower-framwork-comingsoon.png) no-repeat center 290px;
		    background-size: 100%;
	}

	#module0 {
	    width: 55px;
	    height: 55px;
	    top: 361px;
	    left: 23px;
	}
	#module1 {
	    width: 70px;
	    height: 70px;
	    top: 400px;
	    left: 100px;
	}
	#module2 {
	    width: 60px;
	    height: 60px;
	    top: 349px;
	    left: 196px;
	}
	#module3 {
	    width: 70px;
	    height: 70px;
	    top: 413px;
	    left: 273px;
	}
	#module4 {
	    width: 60px;
	    height: 65px;
	    top: 328px;
	    left: 345px;
	}
	#module5 {
	    width: 70px;
	    height: 70px;
	    top: 408px;
	    left: 400px;
	}
	#module6 {
	    width: 55px;
	    height: 55px;
	    top: 367px;
	    left: 478px;
	}
	.bottom .col-xs-12{
		margin:10px 0;
		padding:0;
	}
	.bottom .col-md-4 img {
	    width: 100%;
	}
	.bluebar .name{
		padding-bottom: 30px;
		float:left;
		width:100%;
	}
	.video .col-lg-5{
		max-height: 100%
	}
	.ccl .aquabk{
		    font: 14px HelveticaNeue;
	}
}

@media screen and (max-width: 480px){
	.ceointerview div [id*="audio-playlist"] .video-js .vjs-control-bar {
	    bottom: -59px;
	}

	#framework-home{
		    background: url(../images/bower-framwork-comingsoon.png) no-repeat center 290px;
		    background-size: 100%;
	}
	#module0 {
	    width: 30px;
	    height: 30px;
	    top: 330px;
	    left: 13px;
	}
	#module1 {
	    width: 40px;
	    height: 40px;
	    top: 352px;
	    left: 57px
	}

		#module2 {
	    width: 35px;
	    height: 35px;
	    top: 324px;
	    left: 111px;
	}
	#module3 {
	    width: 45px;
	    height: 45px;
	    top: 354px;
	    left: 150px;
	}
	#module4 {
	    width: 40px;
	    height: 40px;
	    top: 311px;
	    left: 191px;
	}
	#module5 {
	    width: 40px;
	    height: 40px;
	    top: 356px;
	    left: 225px;
	}
	#module6 {
	    width: 40px;
	    height: 40px;
	    top: 332px;
	    left: 266px;
	}
	
	.bigvideo-details{
		padding:0;
	}
	.bigvideo .whiteplayicon{
		height:57px;
	}
	.audio .whitebackground {
	    height: 160px;
	}
	.podcastpage .clips{
		padding:0;
	}
	.helveticareg22 {
	    font: 15px HelveticaNeue, Helvetica;
	        	transition: font 1s;
	}
	.expertise{
		position: relative;
		bottom:0;
		padding:20px 0;
	}
	.cards-details .col-xs-10,.clips .col-xs-6, .homepageintro .col-md-10, .video .col-md-4, .clips .col-md-9 .col-md-4,.ceo .col-md-12 .col-md-8, .ceo .col-md-10, .clips .col-md-3 .col-md-9,.clips .col-md-12 .col-md-4,.videoclips  .col-md-3, .bigvideo .col-md-2
	{
		width:100%;
	}
	.videoclips .col-lg-3{
		width:98%;
	}
	.ceo .col-md-12 .col-md-8{
		padding: 20px 0 0 0;
	}
	.ceo .col-md-2, .clips .container > .col-md-3 > .col-md-3{
		padding: 0 30px 10px 30px;
	}
	.clips .col-md-3 .col-md-9{
		padding:0 30px;
	}
	
	.homepageintro .col-md-10 {
	    padding-left: 0px;
	}
	.homepageintro .whiteplayicon {
	    font-size: 2em;
	    line-height: 1.5em;
	    height: 55px;
	    width: 55px;
	}
	.homepageintro .col-md-1{
		float:none;
		padding:10px 0 0 0;
	}
	.homepageintro .col-md-6 .video-text {
    	padding: 15px;
	}
	.video-js.vjs-16-9 {
		min-height: 310px;
	}
	
	/* subpages*/
	.intro .col-md-11{
		padding:0;
	}
	.intro{
		margin:60px 0 50px 0;
		padding:20px 0;
	}

	.bigvideo .stripes{
		height: 100px;
    	width: 100px;
    	    right: -7px;
	}
	.ccl-programs .col-md-1{
		display:none;
	}
	/* subpages end*/
	/* ceo subpage*/
	.bigvideo .card-container .col-md-10
	{
		line-height: inherit
	}
	.videoclips .whiteplayicon {
	    top: 55%;
	}
	.bigvideo .font36reg {
	    font: 22px 'Chronicle Display', HelveticaNeue!important;
	    transition: font 1s;
	}
	.bigvideo .whiteplayicon {
	    background-size: 46px;
	}
	
	/* ceo subpage ends*/
	/* modal popup*/
	
	
	/* modal popup ends*/



}

@media (max-width:635px) and (min-width:481px) {
    .clips .col-xs-6 {
        width:100%;
    }
    .podcastpage div [id*="audio-playlist"] .video-js .vjs-control-bar {
	    width: 94%;
	}

}​

