
body.maintenance-page {
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}
.maintenance-logo_bar {
	padding: 30px 0;
  background: url("../images/maintenance/bg-body.jpg") no-repeat scroll left top #061F3E;
  text-align: center;
}
.maintenance-wrapper {
  font-size: 11px;
  background: #EAEDBA;
  border: 1px solid #808080;
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}
.maintenance-error {
  text-align: center;
}
.maintenance-error p {
  margin-top:10px;
  margin-bottom:0;
}
.maintenance-error a {
  color:black;
  text-decoration:none;
}
.maintenance-error a:hover {
  text-decoration:underline;
}
.maintenance-footer {
  margin-top: 20px;
  text-align: center;
}
.maintenance-footer p{
  font-size: 12px;
}