
@mixin reset-padding-margin {
	margin: 0;
	padding: 0;
}


/* for all the small screens*/
@media (min-width:0) and (max-width:699px) {

	.mck-wrap-inline-header {
	    @include reset-padding-margin();
	}
	.mck-sidebar .block:last-child {
		margin-bottom: 0;
	}
	.mckc-tabs {
		@include flex-direction(column);
		li {
			margin-bottom: 10px;
		}
	}
}


/* for mid level screens eg: ipad  */
@media (max-width:700px) {
	.mck-wrap-inline-header {
	    @include reset-padding-margin();
	}
}


/* for mid screens eg: ipad horizontal, older pc/desktop */
@media (max-width:950px) {
	.mck-wrap-inline-header {
	    @include reset-padding-margin();
	}
}


/* for larger screens eg: modern pc/desktop, projector*/
@media (min-width: 1100px) {
 
 /* inline header */
	 body.mck-header-inline-body {
	 	padding-top: $inline_header_height;
	 }
	 .mck-header-inline .mck-search__content {
	 	top: $inline_header_height;
	 }
	.mck-header-inline {
    padding-left: 0;
    height: $inline_header_height !important;
    min-height: $inline_header_height !important;
	}
	.mck-header-inline .mck-header__logo {
		display: none;
	}
	.mck-header-inline .mck-wrap {
	  height: 100%;
	  @include display-flex();
	  @include align-items(center);
	}
	.mck-header-inline .mck-wrap .mck-header__details{
	  @include order(0);
	  margin-top: 0;
	  margin: 0;
		@include align-self(center);
	}
	.mck-header-inline .mck-nav-main__list li{
		padding-bottom: 0;
	}
	.mck-header-inline .mck-nav-main {
		height: 100%;
	}
	.mck-header-inline .mck-nav-main__list{
		height: 100%;
		@include display-flex();
		@include align-items(center);
	}
	.mck-header-inline .mck-nav-main__list>li.is-active:after, 
	.mck-header-inline .mck-nav-main__list>li.mck-nav-main__group-item--padding:after {
		display: inline;
	}
	.mck-header-inline .mck-header__logo {
		position: static;
		margin: 0;
	}
	.mck-header-inline.is-collapsed:not(.is-overlay) .mck-header__logo {
		@include transform(translateY(0));
	}


}