.rate-widget-fivestar ul {
  list-style: none;
  overflow: hidden;
  margin-left: -33px;
  margin-top: 5px;
}
.rate-widget-fivestar .item-list ul li {
  background-image: none;
  padding: 0;
  margin: 0;
}
.rate-widget-fivestar ul li {
  float: left;
  list-style: none;
}
.rate-widget-fivestar ul li a {
  display: block;
  float: left;
}
.rate-fivestar-btn-filled {
  display: inline-block;
  background: url(fivestar.png) no-repeat 0 -23px;
    width: 20px;
    height: 20px;
  text-indent: -9999px;
}
.rate-user .rate-fivestar-btn-filled {
  background: url(fivestar.png) no-repeat 0 -23px;
}
.rate-fivestar-btn-empty {
  display: inline-block;
  background: url(fivestar.png) no-repeat 0 0px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

.rate-info, .rate-description {
    margin-left: 12px;
}