@media (min-width: 768px) {
	
	/* articles page*/
	.filters .col-md-6{
		margin-bottom: 20px
	}
	/* articles end*/
	/* leadership*/
	.leadership-cont{
		min-height: 120px;
	}

	/* leadership ends*/
	/* past issues*/
	.featured-pastissues img{
		width:100%;
	}

	/* past issues ends*/
	/* video page*/
	.tags, .tags .boldsmall{
		padding-left:0;
	}
	.tags .col-sm-12{
		padding-left:0;
	}
	.tags .boldsmall{
		padding-bottom: 20px
	}
	.relatedvideos img{
		width:100%;
	}
	.relatedvideos .col-sm-6{
		margin-bottom: 20px
	}
	.modal-content{
		margin-top:150px;
	}
	.popup-body .col-md-12 {
	    margin: 0 0 20px 0;
	    padding: 0;
	}
	.popup-body .col-lg-5{
		margin-top:20px;
	}
	#modalpopup{
		max-height:100%;
	}

	/* video page ends*/
	/* filters*/
	.view-articles-and-insights #edit-field-content-type-value-wrapper{
		width:100%;
		margin:0 0 20px 0;
	}
	 .view-articles-and-insights .views-exposed-form .views-exposed-widget {
	 	width:38%;
	 }


	/* filter ends*/
	/* home*/
	.homepageintro {
	    display: flex;
	}
	.tabs > div .col-lg-3,.homecasestudies .col-lg-3 {
		 border-left:0;
	}
	.sidebar{
		float:left;
		width:50%;
		padding:30px 15px 0 15px;
	}
	.bluebackground .tabs ul li {
	    width: 23%;
	}

	.homecasestudies .row-eq-height .col-lg-3/*, .row-eq-height .col-md-3*/ {
	    width: 33%;
	}
	.homecasestudies .col-lg-3 a {
	    position: relative;
	}
	/* home ends*/
	/* contact page*/
	.contact .col-md-8{
		padding-right:0;
	}
	#node-11{
		margin-bottom: 20px
	}
	.page-node-11 .col-sm-12:last-child{
		padding:0;
	}
	/* contact page ends*/
	/* ceo interview*/
	/*.videoclips .card-container img {
	    max-height: 130px;
	}*/
	.page-node-21,.page-node-22, .page-node-23{
		overflow-x: hidden;
		overflow-y:auto;
	}
	.video .col-md-12{
		margin:20px 0;
	}
	.video .col-lg-5,.bottom .col-md-4{
		padding:0;
	}
	
	.clips .container > .col-md-3{
		padding-bottom: 20px;
	}
	.videoclips .whiteplayicon {
	    top: 50%;
	}
	.bigvideo .col-md-8 img {
	    width: 100%;
	    height: 100%;
	}
	.bigvideo .whiteplayicon {
	    background-size: 60px;
	}
	.bigvideo .card-container .col-md-10 {
	    line-height: 58px;
	}
	.view-ceo-interviews .row-eq-height{
		display:block;
	}
	.view-ceo-interviews .row-eq-height {
	    display: flex;
	}
	.bigvideo .col-md-4{
		min-height: 360px;
	}
	.header-description{
		border-left: 1px solid #666666;
		padding-left: 10px;
		float: left;
		line-height: 40px;
	}
	
	.bigvideo .stripes{
		right:-26px;
	}
	.view-ceo-interviews  .col-lg-3 {
	    width: 31%;
	    min-height: 400px;
	}
	.cards-details .video-js .vjs-control-bar {
	    bottom: -80px;
	    z-index: 2
	}
	.view-ceo-interviews .row-eq-height{
		display:block;
	}

	/* ceo interview ends*/


}
@media (min-width: 992px){
	.view-ceo-interviews .row-eq-height {
	    display: flex;
	}
	.bigvideo .col-md-4{
		min-height: inherit;
	}
}

@media (min-width: 1024px) {
	.listen {
	    left: 60px;
	    top: 26px;
	    bottom: inherit;
	}
	.header-description{
		border-left: 1px solid #666666;
		padding-left: 10px;
			float: left;
		line-height: 40px;
	}
	/*podcast */	
	.downloadicon {
	    padding: 0px 15px 0 10px;
	}

	/*podcast page*/
	/* articles page*/
	.articles .col-md-3{
    	width: 30%;
	}
	.filters .col-md-6{
		margin-bottom: 0
	}
	/* articles end*/
	/* leadership*/

	.leadership-cont{
		min-height: 135px;
	}
	/* leadership ends*/
	/* past issues*/
	.featured-pastissues .col-lg-3 {
	    padding-left: 0;
	    margin: 0 0 50px 0;
	}
	/* video page*/
	.popup-body .col-lg-5 {
	    max-width: 40%;
	}
	.tags,.tags .col-sm-12{
		padding-left:15px;
	}
	.tags .boldsmall{
		padding-bottom: 0
	}
	.relatedvideos img{
		width: 100%
	}
	.popup-body video{
		margin-bottom:0;
	}
	#modalpopup{
		max-height:900px;
	}
	.popup-body .col-lg-5{
		margin-top:0;
	}
	.view-ceo-interviews .row-eq-height {
	    display: flex;
	}
	/* video page ends*/
	/* filters*/
	.view-articles-and-insights .views-exposed-form .views-exposed-widget {
    	width: 28%;
	}
	.view-articles-and-insights #edit-field-content-type-value-wrapper {
	    width: 45%;
	    margin:0;
	}
	/* filter ends*/
	/* home */
	.homepageintro .col-md-10 {
		padding-left: 60px;
	}
	.homepageintro .col-md-6 {
	    width: 50%;
	}
	.tabs > div .col-lg-3{
		 border-left: 1px solid #b9b9b9;
	}
	.sidebar{
		float:none;
		width:100%;
		padding:0;
	}
	.bluebackground .tabs ul li {
	    width: 12.8%;
	}
	.homecasestudies .row-eq-height .col-lg-3, .homecasestudies .row-eq-height .col-md-3{
		width:25%;
	}
	.homecasestudies .col-lg-3 a {
	    position: absolute;
	}
	.homecasestudies .col-lg-3 {
	    border-left: 1px solid #dedede;
	}
	.video-js.vjs-16-9 {
	    height: 48vh;
	}
	/* home ends*/
	/* contact page*/
	.contact .col-md-8{
		padding-right:130px;
	}
	#node-11{
		margin-bottom:0;
	}
	
	/* contact page ends*/
	/* ceo interview*/
	/*.videoclips .card-container img {
	    max-height: 150px;
	}*/
	.video .col-lg-5{
		padding:0 20px;
	}
	.bottom .col-md-4{
		padding:0;
	}
	.video .col-md-12{
		margin: 0 0 20px 0;
    	padding: 0;
	}	
	.clips .container > .col-md-3{
		padding-bottom: 0;
	}
	.bigvideo .stripes{
		right:-80px;
	}
	
	.bigvideo .card-container .col-md-10 {
	    line-height: 65px;
	}
	.header-description{
		border-left: 1px solid #666666;
		padding-left: 10px;
		float: left;
		line-height: 40px;
	}
	.page-node-21,.page-node-22, .page-node-23{
		overflow-x: hidden;
		overflow-y:hidden;
	}
	.cards-details .video-js .vjs-control-bar {
	    bottom: -76px;
	}
	/* ceo interview page*/



}

@media (min-width:1500px){
	.video-js.vjs-16-9{
		height:49vh;
	}
}
@media (min-width: 1250px) {
	/* articles*/
	.articles .col-md-3{
    	width: 25%;
	}
	/* articles end*/
	/* leadership*/

	/* leadership ends*/
	/* filters*/
	.view-articles-and-insights .views-exposed-form .views-exposed-widget {
    	width: 22%;
	}
	.view-articles-and-insights #edit-field-content-type-value-wrapper {
	    width: 54%;
	}
	/* filter ends*/
	/* home*/
	.bluebackground .tabs ul li {
	    width: 13%;
	}

	/* home ends*/
	/* ceo interview*/
	.view-ceo-interviews  .col-lg-3 {
	    width: 23%;
	    margin: 0 1% 20px 1%;

	}
	.cards-details .video-js .vjs-control-bar {
	    bottom: -61px;
	}
	


}

@media (max-width: 767px){

	.header {
		margin-top: 90px;
	}
	.icon{
		padding:0 15px;
	}
	.navbar .logo {
	    margin-right: 0;
	    padding-left: 0;
	}
	.navbar-default .navbar-nav > .active > a:after{
		display:none;
	}
	/* articles*/
	.filters .col-md-6{
		margin-bottom: 20px
	}
	.articles-cont img {
	    padding:0 0 15px 0;
	    max-width: 100%;
	}
	/* articles end*/
	/* leadership*/
	.leadership-cont{
		min-height: 100px;
	}
	
	.userpic {
	    width: 80px;
	    height: 80px;
	}
	.leadership-cont .col-md-8 {
	    margin-top: 3px;
	}
	.leadership-cont .col-xs-3{
		width: 100px;
		
	}
	.leadership .center-block {
	    margin-bottom: 40px;
	}
	/* leadership ends*/
	/* past issues*/
	.featured-pastissues .col-lg-3, .view-expert #edit-field-industry-tid-wrapper {
	    margin: 0 0 20px 0;
	}
	.featured-pastissues .col-xs-12, .lightgraybackground .col-xs-12{
		padding-left:0;
		padding-right:0;
	}
	.relatedvideos img,  .bigvideo .col-md-12 .col-md-8{
		width:100%;
	}

	/* past issues end*/
	/* ceo interview*/
	/*.videoclips .card-container img {
	    max-height: 130px;

	}*/
	.popup-body .col-md-12 {
	    margin: 0 0 20px 0;
	    padding: 0;

	}
	.popup-body .col-lg-5{
		 -webkit-overflow-scrolling: touch;
		 overflow:auto;
		     margin-top: 20px;
	}
	#modalpopup{
		max-height:100%;
	}
	.page-node-21,.page-node-22, .page-node-23{
		overflow-x: auto;
		overflow-y:auto;
	}
	.video .col-lg-5,.bottom .col-md-4{
		padding:0;
	}

	.video .col-md-12{
		margin: 20px 0;
    	padding: 0 15px;
	}
	.expertise{
		padding:20px 0;
		position: relative;
		bottom:0;
	}
	#block-views-ceo-interviews-block-1 .row-eq-height,.view-ceo-interviews .row-eq-height{
		display:block;
	}
	.videoclips .whiteplayicon {
	    top: 57%;
	}
	.bigvideo .whiteplayicon {
	    background-size: 55px;
	}
	.bigvideo .card-container .col-md-12 {
	    bottom: 3px;
	    padding: 0;
	    
	}

	.bigvideo .col-md-12 .col-md-8{
		float:left;
	}
	.header-description{
		border-left:0;
		float:left;
		padding-left:0;
		line-height: inherit
	}
	.bigvideo .stripes{
		right:-3px;
	}
	.view-ceo-interviews  .col-lg-3 {
	    width: 48%;
	}
	.cards-details .video-js .vjs-control-bar {
	    bottom: -76px;
	    z-index: 2
	}
	/* ceo interview ends*/
	/* video*/
	.lightgraybackground .sidebar{
		margin:20px 0;
	}
	.relatedvideos .col-xs-12{
		margin-bottom: 20px;
		width:50%;
	}
	.tags, .tags .boldsmall{
		padding-left:0;
	}
	.tags .col-sm-12{
		padding-left:0;
	}
	.tags .boldsmall{
		padding-bottom: 20px
	}
	.modal-content{
		margin-top:150px;
	}


	/* video ends*/
	/* filters*/
	.view-articles-and-insights #edit-field-content-type-value-wrapper{
		width:100%;
		margin:0 0 20px 0;
	}
	 .view-articles-and-insights .views-exposed-form .views-exposed-widget {
	 	width:260px;
	 }


	/* filter ends*/
	/* home*/
	.clips .container > .col-md-3 > .col-md-3{
		width:initial;
	}
	#framework-home{
		min-width: inherit;
		max-width: 100%;
	}
	.homepageintro {
	    display: flex;
	}
	.clips .col-md-3 .col-md-9{
		margin-bottom: 20px;
	}
	.bluebackground .tabs ul li {
	    width: 22%;
	}
	.tabs > div .col-lg-3,.homecasestudies .col-lg-3{
		 border-left: 0;
	}
	.tabs > div{
		padding: 40px 0;
	}
	.tabs > div img, .homecasestudies img{
		padding: 0 0 20px 0;
	}
	.sidebar{
		float:left;
		width:100%;
		padding:30px 15px 0 15px;
	}
	.boldbig {
	    font: 30px HelveticaNeueBold;
	}
	.bluebackground, .homeleadership, .superlightgraybk{
		padding:40px 0;
	}
	.homeleadership .col-xs-2{
		min-width: 90px;
	}
	.homeleadership .col-xs-10{
		width: 73%;
	}
	.homecasestudies .row-eq-height .col-lg-3, .homecasestudies .row-eq-height .col-md-3,.homepagearticles img {
	    width: 100%;
	}
	.homecasestudies .col-lg-3 a {
	    position: relative;
	}
	.homecasestudies .row-eq-height > [class*='col-'] {
	    display: block;
	}
	.homepagearticles img{
		max-width: 100%;
	}
	/* home ends*/
	/* contact page*/
	.contact .col-md-8{
		padding-right:0;
	}
	#node-11{
		margin-bottom: 20px
	}
	.page-node-11 .col-sm-12:last-child{
		padding:0;
	}
	.page-node-11 #block-system-main{
		padding:0 15px;
	}
	 #block-block-5,#block-block-7 {
	    padding: 0 0 20px 0;
	}
	/* contact page ends*/
	.col-md-2 {
	    width: 16.66666667%;
	}
	
}
@media (max-width: 480px){
	.intro{
		margin:0;
	}
	.icon{
		padding:0 15px;
	}
	.dropdown:last-child{
		margin: 10px 0 0 0;
		display:block;
	}
	.page-header{
		font-size:24px;
	}
	/* articles */
	.articles-cont .col-xs-8,.articles-cont .col-xs-4, .homearticles .col-xs-6, .view-podcasts .col-xs-6, .videoclips .col-xs-6{
		width:100%;
	}
	/* articles end*/
	/* leadership*/
	.leadership-cont .col-xs-3{
		width: 80px;
		padding:0;
		
	}

	/* leadership ends*/
	/* past issues*/

	.featured-pastissues img,.articles-cont img{
		width:100%;
	}
	.paddingleftnone{
		padding-right:0;
	}
	/* past issues end*/
	/* video*/
	.relatedvideos .col-xs-12{
		width:100%;
	}
	.vjs-big-play-centered .vjs-big-play-button {
	    left: 60%;
	}

	/* video ends*/
	/* filter*/

	.view-articles-and-insights .views-exposed-form .views-exposed-widget{
		width:100%;
		margin:0 0 20px 0;
	}

	/* filter ends*/
	/* home*/
	.font36reg {
	    font: 28px 'Chronicle Display', HelveticaNeue;
	}

	.boldbig {
	    font: 28px HelveticaNeueBold;
	}
	.sidebar,.homecasestudies .row-eq-height .col-lg-3, .homecasestudies .row-eq-height .col-md-3 {
		width:100%;
	}
	.bluebackground .tabs ul li {
	    width: 100%;
	}
	.homeleadership .col-xs-2{
		min-width: 80px;
	}
	.homeleadership .col-xs-10{
		width: 73%;
	}
	.userpic {
	    width: 70px;
	    height: 70px;
	}
	.homecasestudies .row-eq-height > [class*='col-'] {
	    display: block;
	}
	.homepagearticles img{
		max-width: 100%;
	}
	
	/* home end*/
	/* contact page*/
	.header-description{
		border-left:0px;
		line-height: inherit;
		padding-left:0;
	}
	/* contact page ends*/
	/*ceo interviews*/
	.bigvideo .corner {
	    top: 17px;
	}
	.bigvideo .card-container .col-md-10 {
	    line-height: 50px;
	    padding-left: 30px;
	}
	.videoclips, .bigvideo {
	    padding: 0 20px;
	}
	.videoclips .whiteplayicon {
	    top: 55%;
	}
	.bigvideo .stripes{
		right:-21px;
	}
	.view-ceo-interviews  .col-lg-3{
		min-height: inherit;
	}
	/* ceo interview ends*/
}	

@media (max-width: 635px) and (min-width: 481px){
	.view-podcasts .col-xs-6 {
	    width: 100%;
	}
	.page-podcasts div [id*="audio-playlist"] .video-js .vjs-control-bar {
	    width: 94%;
	}
}